body {
	margin: 0px;
}

footer {
	background-color: #000066;
	color: white;
	height: 6%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px;
}

a {
	color:black;
	text-decoration: none;
}

main a {
	color: #FF6600;
}

footer a {
	color: #FF6600;
}

.flex-container{
	display: flex;
	margin: 24px;
}

main img {
	width: 100%;
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered h1{
	text-decoration: underline;
}

.pages {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.pages ul {
	list-style-type: none;
	margin: 0;
}

.pages li {
	display: inline;
	padding: 8px;
	font-size: 32px;
}

.content {
	margin: 24px;
}

.logo{
	flex: 1 1 auto;
}

footer p {
	padding: 0px;
	margin: 0px;
}

.active {
	text-decoration: underline;
}

.grow {
	flex: 1 1 auto;
}

.fa {
	color: white;
}

.social a{
	padding: 8px;
}

form {
	display: flex;
  	align-items: center;
	justify-content: center;
	flex-direction: column;
}

form div {
	margin-bottom: 10px;
}

.buttons {
	flex-direction: row;
}